* {
  margin: 0;
  padding: 0;
}
/* start header section */
.first-header {
  height: 50px;
  padding: 10px;
}
.first-header-logo {
  width: 50%;
  float: left;
  font-size: 33px;
  color: rgb(8,205,255);
  font-weight: bold;
}
.first-header-contact {

  width: 50%;
  float: right;
  text-align: right;
}
.Phone-number {
  width: 50%;
  float: left;
}
.Phone-number .number {
  font-size: 18px;
  font-weight: bold;
}
/*.Phone-number .number-text{
  padding-left: 20px;
}*/
.email-address {
  width: 50%;
  float: right;
}
.email-address .email {
  font-size: 18px;
  font-weight: bold;
}
/*.email-address .email-text{
  padding-left: 20px;
}*/

/* second-header == */

.second-header {
  background: rgb(8,205,255);
  color: white;
  width: 100%;
}
.second-header ul {
  display: inline-block;
  color: white;
  list-style: none;

}
.second-header ul li {

  float: left;
  padding: 5px 10px;
  margin: 10px 20px;

}

/* end header section */
.second-header ul li:hover {
  background: white;
  color: rgb(8,205,255);

}

/* end header section */


/* start slider section */

.slider img {
  height: 100%;
  width: 100%;

}
/* end slider section */

/* start our service  section */
.sarvice-header {
  width: 100%;
  text-align: center;
  padding: 40px 0px;
  background: width;
}
.sarvice-header p {
  font-size: 30px;
}
/* part:2 our service  section */

.our-service {
  width: 100%;
  height: 150px;
  background: rgb(190,239,251);
}
.our-service2 {
  width: 900px;
  padding-top: 20px;
  margin: auto;
}
/* padding-left: auto;
  padding-right: ;
  margin-bottom: 10px;*/


.our-service2 .seo {
  width: 32%;
  padding-right: 15px;
  float: left;
}
.our-service2 .marketing {
  width: 32%;
  padding-right: 15px;
  float: left;
}
.our-service2 .support {
  width: 32%;
  float: left;
}


.our-service .icon {
  padding-right: 15px;
  float: left;
}

.our-service .text {
  width: 70%;
  float: left;
  padding: 0px;
}


.our-service img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: white;
}
.our-service p {
  padding: 5px 0px 15px 0px;
  font-size: 16px;
}
.our-service a {
  text-decoration: none;
  color: #04a1fb;
  font-size: 18px;
}


/* end our service  section */

.etc {
  width: 100%;
  height: 40px;
}