* {
  margin: 0;
  padding: 0;
}
/* start header section */
.first-header {
  height: 50px;
  padding: 10px;
}
.first-header-logo {
  width: 50%;
  float: left;
  font-size: 33px;
  color: rgb(8,205,255);
  font-weight: bold;
}
.first-header-contact {

  width: 50%;
  float: right;
  text-align: right;
}
.Phone-number {
  width: 50%;
  float: left;
}
.Phone-number .number {
  font-size: 18px;
  font-weight: bold;
}
/*.Phone-number .number-text{
  padding-left: 20px;
}*/
.email-address {
  width: 50%;
  float: right;
}
.email-address .email {
  font-size: 18px;
  font-weight: bold;
}
/*.email-address .email-text{
  padding-left: 20px;
}*/

/* second-header == */

.second-header {
  background: rgb(8,205,255);
  color: white;
  width: 100%;
}
.second-header ul {
  display: inline-block;
  color: white;
  list-style: none;

}
.second-header ul li {

  float: left;
  padding: 5px 10px;
  margin: 10px 20px;

}

/* end header section */
.second-header ul li:hover {
  background: white;
  color: rgb(8,205,255);

}

/* end header section */


/* start slider section */

.slider img {
  height: 100%;
  width: 100%;

}
/* end slider section */

/* start our service  section */
.sarvice-header {
  width: 100%;
  text-align: center;
  padding: 40px 0px;
}
.sarvice-header p {
  font-size: 30px;
}
/* part:2 our service  section */

.our-service {
  width: 100%;
  height: 120px;
  background: yellow;
  padding: 40px 0px;
}
.our-service .seo {
  width: 33%;
  float: left;

}
.our-service .marketing {
  width: 33%;
  float: left;
}
.our-service .support {
  width: 33%;
  float: left;
}


.our-service .icon {
  width: 30%;
  float: left;
  background: white;
}

.our-service .text {
  width: 67%;
  float: left;
  padding: 10px 2px 10px 5px;
  background: red;
}


.our-service img {
  height: 100px;
  width: 100px;
}
.our-service p {
  padding: 5px 0px 15px 0px;
}


/* end our service  section */